<% include ./partials/header %>
	<div id = "blog_header" class="ui center aligned raised very padded text container segment">
		<h2 class="ui center aligned icon header">
			<i class="universal access icon"></i>
			About Me
		</h2>
		
		<img class="ui Tiny left floated image" src="https://scontent.fpat3-1.fna.fbcdn.net/v/t1.0-9/18951393_2000890540123325_6842396664960902970_n.jpg?_nc_cat=103&_nc_oc=AQlqYOqKIkpXH3G0OckbfWzKsdj_eY2D8Lpl_tI3648IaSGy1WTC_PaBbSEmmJFA9AcqXwwMhXmK9asGkzU9I-ov&_nc_ht=scontent.fpat3-1.fna&oh=b0236aa8fffeab7b13dd5d4bf76d3e37&oe=5DACEC29">
		<p>
			Hello, I am Anurag Prakash a 4th year engineering student of NMAMIT and this is my blog page feel free to share new information and update the existing information ! 
			
			
		</p>
		<a href = "https://www.facebook.com/anurag.prakash.169">
		<button class="ui circular facebook icon button" >
			
			<i class="facebook icon"></i>
			
		</button>
		</a>
		<a href = "https://www.linkedin.com/in/anurag-prakash-448571171/">
		<button class="ui circular linkedin icon button">
			<i class="linkedin icon"></i>
		</button>
		</a>
		<a href = "https://www.instagram.com/anuragprakash.007/?hl=en">
		<button class="ui circular instagram icon button">
			<i class="instagram icon"></i>
		</button>
		</a>
			
	
		
		
		
	</div>

<% include ./partials/footer %>