<% include ./partials/header %>
	<div id = "blog_header" class="ui center aligned raised very padded text container segment">
		<h2 class="ui center aligned icon header">
			<i class="universal access icon"></i>
			Blogs
		</h2>
		<h1 class="ui header"><%=blogs.title%></h1>
		<img src = "<%=blogs.image%>">
		<p><span><%=blogs.created%></span></p>
		<p><%=blogs.body%></p>

		
			
	</div>

<% include ./partials/footer %>