i.icon{
	font-size: 2em;
}
#blog_header{
	margin-top: 80px;
}
div.a {
  text-align: center;
}
div.b {
  text-align: left;
}
div.d {
  text-align: justify;
} 
#image_index{
	height:100px;
	width:130px;
}
